<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inthanin Guild Camp #1</title>
  <link rel="shortcut icon" type="image/png" href="/build/images/favicon.png"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:url"                content="http://www.inthanincamp.xyz/" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="เปิดรับสมัครน้องค่าย ค่ายอินทนิลไกด์แคมป์ #1" />
  <meta property="og:description"        content="ตอนนี้กำลังเปิดรับสมัครน้องๆเพื่อเข้าร่วมค่ายอินทนิลไกด์แคมป์ ค่ายสานฝันสำหรับน้องๆโรงเรียนเทศบาลเฉลิมพระเกียรติฯสมเด็จพระเทพรัตนราชสุดาสยามบรมราชกุมารี" />
  <meta property="og:image"              content="http://www.inthanincamp.xyz/build/images/facebook.png" />

  <link rel="stylesheet" href="/build/css/Font-face.css"> 
  <link rel="stylesheet" href="/build/css/style.css">
</head>
<body>

  <div class="bar is-show">
      กำหนดการ : 
      <ul>
          <li>รับสมัคร Staff วันนี้ - 20 มิ.ย. 2560 ประกาศผล 21 มิ.ย. 2560</li>
          <li>รับสมัครน้องค่าย 21 - 30  มิ.ย. 2560 ประกาศผล 5 ก.ค. 2560</li>
      </ul>
  </div>
  <section class="header">
      <div class="heading">
          <h1>Inthanin</h1>
          <h2>guide camp #1</h2>
          <p>8,9,10 กรกฎาคม 2560</p>
          <p>โรงเรียนแม่สอด</p>
          <a href="#inthanin" class="button">สมัครเข้าร่วมค่าย</a>
      </div>
     <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" style="display:none;" data-reactid="17">
        <symbol id="wave" data-reactid="18">
            <path d="M420,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C514,6.5,518,4.7,528.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H420z"></path>
            <path d="M420,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C326,6.5,322,4.7,311.5,2.7C304.3,1.4,293.6-0.1,280,0c0,0,0,0,0,0v20H420z"></path>
            <path d="M140,20c21.5-0.4,38.8-2.5,51.1-4.5c13.4-2.2,26.5-5.2,27.3-5.4C234,6.5,238,4.7,248.5,2.7c7.1-1.3,17.9-2.8,31.5-2.7c0,0,0,0,0,0v20H140z"></path>
            <path d="M140,20c-21.5-0.4-38.8-2.5-51.1-4.5c-13.4-2.2-26.5-5.2-27.3-5.4C46,6.5,42,4.7,31.5,2.7C24.3,1.4,13.6-0.1,0,0c0,0,0,0,0,0l0,20H140z"></path>
        </symbol>
    </svg>
      <svg class="water__wave water__wave_front" viewBox="0 0 560 20" data-reactid="23"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wave"></use></svg>
      <svg class="water__wave water__wave_back" viewBox="0 0 560 20" data-reactid="25"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wave"></use></svg>
      <img src="/build/images/Cartoon-2.svg" class="cartoon cartoon-1" />
      <img src="/build/images/Cartoon.svg" class="cartoon cartoon-2" />
      <img src="/build/images/Cartoon.svg" class="cartoon cartoon-3" />
  </section>

  <section id="inthanin">

    <h3>ใบสมัครเข้าร่วมค่าย</h3>
    <h4>ทุกคนจะถูกคัดเลือกจากพี่ๆกลุ่มมหาวิทยาลัยซึ่งผลประกาศจะแจ้งให้ทราบผ่านทาง <a href="https://www.facebook.com/inthaninguidecamp/" target="_blank">Fanpage</a> <br/>โปรดกรอกแบบฟอร์มให้ดีที่สุด</h4>
    
    <form  v-on:submit.prevent="addStudent" class="flex flex-wrap">
        <div class="flex-1-3 padding">
            <input type="text" placeholder="ชื่อ - นามสกุล" v-model="fullname" required/>
        </div>
        <div class="flex-1-3 padding">
            <input type="text" placeholder="ชื่อเล่น" v-model="nickname" required/>
        </div>
        <div class="flex-1-3 padding">
            <input type="text" placeholder="กำลังศึกษาระดับชั้น (ม.4/5/6)" v-model="class" required/>
        </div>
        <div class="flex-1-3 padding">
            <input type="text" placeholder="โรงเรียน" v-model="school" required/>
        </div>
        <div class="flex-1-3 padding">
            <input type="number" placeholder="เบอร์ติดต่อ" v-model="phone" required/>
        </div>
        <div class="flex-1-3 padding">
            <input type="text" placeholder="ชื่อ Facebook" v-model="facebook" required/>
        </div>
        <div class="flex-1 padding">
            <input type="text" placeholder="ตอนนี้น้องอยากสอบเข้าคณะใด มหาวิทยาลัยใด" v-model="university" required />
        </div>

        <div class="flex-1 padding">
            <textarea placeholder="เลือกอะไรก็ได้ในโลก(และนอกโลก) 1 อย่าง ให้เป็นตัวแทนของน้อง สิ่งนั้นคืออะไร เพราะอะไรถึงเป็นตัวแทนของน้อง" v-model="ask" required></textarea>
        </div>

        <div class="flex-1 padding">
            <textarea placeholder="ถ้ามีคำอนุญาตให้ทำผิดกฎระเบียบของโรงเรียนได้ 1 อย่าง น้องจะเลือกทำอะไร เพราะอะไร" v-model="rule" required></textarea>
        </div>

        <div class="flex-1 padding">
            <p class="text-center">อินทนิล / ชุบแป้งทอด / แฟนฉัน / กากมะพร้าว / แลคตาซอย / แดงเหลือง / คุณพระ! / คอเรสเตอรอล / จุ๊บุ๊หุหุ </p>
            <textarea placeholder="นำคำทีกำหนดให้ทุกคำมาแต่งประโยค(ตามจินตนาการ)" v-model="sentence" required></textarea>
        </div>

        <div class="flex-1 padding">
            <textarea placeholder="น้องสามารถทำหรือสร้างอะไรก็ได้ให้ประเทศไทย โดยไม่มีปัญหาเรื่องเงินและความสามารถ น้องอยากทำอะไร เพราะอะไร" v-model="wanttodo" required></textarea>
        </div>

        <div class="flex-1 padding">
            <textarea placeholder="ทำไมน้องควรได้เข้าค่าย Inthanin Guide Camp" v-model="why" required></textarea>
        </div>

        <div class="flex-1 padding">
            <p class="text-center">กรณีติดต่อฉุกเฉิน</p>
        </div>
         <div class="flex-1-2 padding">
            <input type="text" placeholder="ชื่อผู้ปกครอง" v-model="nameParent" required/>
        </div>
        <div class="flex-1-2 padding">
            <input type="text" placeholder="เบอร์ติดต่อฉุกเฉิน" v-model="phoneParent" required/>
        </div>
        

        <div class="flex-1">
            <button type="submit">ส่งคำตอบ</button>
        </div>
    </form>
     <div class="popup {{ popup ? 'is-active' : '' }}" @click="popup = false">
        <div class="card" @click.stop="popup = true">
            <div class="close" @click.stop="popup = false"></div>
            <h4>{{ message }}</h4>
            <p>กดแชร์ลง Facebook</p>
            <iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fwww.inthanincamp.xyz%2F&layout=button_count&size=large&mobile_iframe=true&width=74&height=28&appId" width="74" height="28" style="border:none; overflow: 'hidden'; scrolling: no; frameborder: 0;  allowTransparency: true"></iframe>
        </div>
    </div>

  </section>

  <footer>
      <div class="wrapper flex">
          <div class="flex-half left">Inthanin Guild Camp</div>
          <div class="flex-half right"><iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Finthaninguidecamp%2F&width=450&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId" width="450" height="80" style="border:none; overflow: 'hidden'; scrolling: no; frameborder: 0;  allowTransparency: true"></iframe></div>
      </div>
  </footer>

</body>
<script src="node_modules/vue/dist/vue.min.js"></script>
<script src="node_modules/vue-resource/dist/vue-resource.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
<script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
<script src="app.js"></script>
</html>