<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Inthanin Guild Camp #1</title>
  <link rel="shortcut icon" type="image/png" href="/build/images/favicon.png"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:url"                content="http://www.inthanincamp.xyz/" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="เปิดรับสมัครน้องค่าย ค่ายอินทนิลไกด์แคมป์ #1" />
  <meta property="og:description"        content="ตอนนี้กำลังเปิดรับสมัครน้องๆเพื่อเข้าร่วมค่ายอินทนิลไกด์แคมป์ ค่ายสานฝันสำหรับน้องๆโรงเรียนเทศบาลเฉลิมพระเกียรติฯสมเด็จพระเทพรัตนราชสุดาสยามบรมราชกุมารี" />
  <meta property="og:image"              content="http://www.inthanincamp.xyz/build/images/facebook.png" />

  <link rel="stylesheet" href="/build/css/Font-face.css"> 
  <link rel="stylesheet" href="/build/css/style.css">
</head>
<body>

    <div id="login" class="login">
        <form action="/admin" method="POST">
            <h1>Login as Admin</h1>
            <input type="text" name="username" placeholder="username" />
            <input type="password" name="password" placeholder="password" />
            <button type="submit">Login</button>
        </form>
    </div>

</body>
<script src="node_modules/vue/dist/vue.min.js"></script>
<script src="node_modules/vue-resource/dist/vue-resource.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
<script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
<script src="app.js"></script>
</html>